<div>

    <h2>Login</h2>

    <form action="/api/login" method="post">
        <input type="text" id="login" name="login"  value="{{login}}" placeholder="Ingrese su Nombre de usuario" />
        <input type="submit" value="Enviar" />
    </form>

</div>